<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<springProperty scope="context" name="logDir" source="logging.logdir"/>
	<property name="LOG_PATH" value="${logDir}/${appName}"/>
	<property name="FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${appName}] %t [%-60.60logger{59}] : %m%n"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/default.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/default/default.%d{yyyy-MM-dd HH}.%i.log.zip</fileNamePattern>
			<maxHistory>168</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/error/error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<maxHistory>15</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_PATTERN}</pattern>
		</encoder>
	</appender>

    <logger name="com.company.*.dao" level="DEBUG"/>

	<springProfile name="test,dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="DEFAULT"/>
			<appender-ref ref="ERROR"/>
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="DEFAULT"/>
			<appender-ref ref="ERROR"/>
		</root>
	</springProfile>


</configuration>